
:root {
    --bg-color: #f8f9fa;
    --text-color: #333;
    --accent-color: #3498db;
    --accent-hover: #2980b9;
    --header-bg: #2c3e50;
    --tool-card-bg: #ffffff;
    --hover-card-bg: #e9ecef;
    --hover-text: #333333;
    --shadow: rgba(255, 215, 0, 0.2);
    --footer-bg: #d1f2eb;
    --footer-text: #ffffff;
}


/* dark mode removed */ {
  --bg-color: #1e1e1e;
  --text-color: #f5f5f5;
  --accent-color: #3498db;
  --accent-hover: #2980b9;
  --header-bg: #0f2027;
  --footer-bg: #1b3c3c;
  --tool-card-bg: #2b2b2b;
  --hover-card-bg: #333;
  --hover-text: #ffffff;
  --shadow: rgba(0, 0, 0, 0.4);
  --footer-text: #f5f5f5;
}
